<launch>
    <node name="classifier" pkg="speech_pkg" type="speech_classification_node.py" output="screen"/>
    <node name="talker" pkg="speech_pkg" type="taker_node.py"/>
    <node name="manager" pkg="speech_pkg" type="manager_node.py" output="screen"/>
    <node name="speech_detection_node" pkg="speech_pkg" type="speech_detection_node.py" output="screen"/>
</launch>